<ng-container *ngIf="this.gameStateService.gameState$ | async as gamestate">
  <h2>Game Over</h2>
  <ng-container *ngFor="let endgame of gamestate.endGameState; let i = index; trackBy: trackByEndGame;">
    <div class="endgame-container">
      <app-points-bar [maxPoints]="getMaxPoints(gamestate.endGameState)" [points]="endgame.points"
        [playerName]="endgame.player.name" [place]="i + 1">
      </app-points-bar>
    </div>

  </ng-container>

  <ng-container *ngIf="this.gameStateService.allAnswers$ | async as answers">
    <ng-container *ngFor="let allAnswers of answers; let i = index;">
      <p class="center">{{allAnswers.questionText}}</p>
      <ng-container *ngFor="let answerByPlayer of allAnswers.questionAnswers">
        <div class="single-answer add-border">
          {{answerByPlayer.playerName}} - {{answerByPlayer.answerText}} - {{answerByPlayer.points}}
        </div>

      </ng-container>
      <!-- {{allAnswers | json}} -->
    </ng-container>
  </ng-container>
</ng-container>