<div class="component-container column-layout">
  <div *ngIf="showOverlay" class="overlay">
    <div class="overlay-content">
      <button (click)="closeOverlay()" style="height: 3rem; width: 3rem; border-radius: 3rem">V</button>
      <div style="max-height: 80%; overflow-y: auto">

        <ng-container *ngIf="this.gameStateService.allAnswers$ | async as answers">
          <div class="grid-table player-answers">
            <div class="grid-cell header-cell">Name</div>
            <div class="grid-cell header-cell">Answer</div>
            <div class="grid-cell header-cell">Points</div>
            <div class="grid-cell header-cell">Seconds</div>
          </div>
          <ng-container *ngFor="let allAnswers of answers">

            <h3 class="question-title" style="padding-top: 1rem">Question: {{ allAnswers.questionText }}</h3>
            <h3 class="question-title" style="padding-top: 1rem">Answer: {{ allAnswers.correctAnswerDisplay }}</h3>
            <div class="grid-table player-answers">
              <ng-container *ngFor="let answerByPlayer of allAnswers.questionAnswers">
                <div class="grid-cell header-cell">{{ answerByPlayer.playerName }}</div>
                <div class="grid-cell header-cell">{{ answerByPlayer.answerText }}</div>
                <div class="grid-cell header-cell">{{ answerByPlayer.points }}</div>
                <div class="grid-cell header-cell">{{ answerByPlayer.answeredInSeconds }}</div>
              </ng-container>
            </div>

          </ng-container>
        </ng-container>

      </div>
    </div>
  </div>

  <ng-container *ngIf="this.gameStateService.gameState$ | async as gamestate">
    <div>
      <h2>Game Over</h2>
      <ng-container *ngFor="
          let endgame of gamestate.endGameState;
          let i = index;
          trackBy: trackByEndGame
        ">
        <div class="endgame-container">
          <app-points-bar [maxPoints]="getMaxPoints(gamestate.endGameState)" [place]="i + 1"
                          [playerName]="endgame.player" [points]="endgame.points">
          </app-points-bar>
        </div>
      </ng-container>
    </div>
    <button (click)="openOverlay()" class="add-border">Show all answers.</button>
  </ng-container>
</div>
