.physics-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  --button-visual-size: 5rem;
  --button-margin: 1rem;
  --animation-offset-from-right-edge: calc(
    var(--button-margin) + var(--button-visual-size) / 2
  );
  --animation-offset-from-bottom-edge: calc(
    var(--button-margin) + var(--button-visual-size) / 2
  );

  clip-path: circle(
    150vmax at calc(100vw - var(--animation-offset-from-right-edge)) calc(100vh - var(--animation-offset-from-bottom-edge))
  );
  transition: clip-path 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.physics-container.hidden-by-mask {
  clip-path: circle(
    0% at calc(100vw - var(--animation-offset-from-right-edge)) calc(100vh - var(--animation-offset-from-bottom-edge))
  );
  pointer-events: none;
}

.fixed-button {
  margin: 2.1rem;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

