<main class="main">
  <ng-container *ngIf="intialConnection$ | async as result; else loading">
    <div>
      <h1>Quizza App</h1>

      <div class="element-view">
        <h2>Server Connection Status</h2>
        <p>{{ result.message }}</p>
        <p>ServerTime: {{ result.serverTime }}</p>  
      </div>
  
  
      <div class="element-view">
        <h2>Player Login</h2>
        <input type="text" placeholder="Enter your name" #playerNameInput />
        <button (click)="sendLoginRequest(playerNameInput.value)">Send Request</button>

        <div>Select Player - Click here instead of entering a player</div>
        <ul>
          <li>SomeNameFromBackend1</li>
          <li>SomeNameFromBackend2</li>
          <li>SomeNameFromBackend3</li>
          <li>SomeNameFromBackend4</li>
        </ul>

        <hr>
        <h3>Room Information</h3>
        <p *ngIf="responseMessage">{{ responseMessage | json }}</p>
      </div>
  
      <div class="element-view">
        <!-- @TODO Replace PlayerName with room name -->
        <h2>Active Room - <div *ngIf="responseMessage">{{responseMessage.playerName}}</div></h2>
        <div>Player List</div>
        <ul>
          <li>SomeNameFromBackend1</li>
          <li>SomeNameFromBackend2</li>
          <li>SomeNameFromBackend3</li>
          <li>SomeNameFromBackend4</li>
        </ul>

        <h2>Active Question</h2>
        <ng-container *ngIf="getGameState$ | async as gameState">
          <div *ngIf="gameState.currentQuestion.question; else notActive">
            <h3>{{gameState.currentQuestion.question}}</h3>
          </div>

          <ng-template #notActive>
            <p>No Active Question</p>
          </ng-template>

        </ng-container>
      </div>

  
      
    </div>
    
  </ng-container>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>

  <ng-template #error let-error>
    <p>Error: {{ error }}</p>
  </ng-template>



</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />