<main class="main">
  <ng-container *ngIf="message$ | async as result; else loading">
    <p>{{ result.message }}</p>
    <p>ServerTime: {{ result.serverTime }}</p>
    <br>

    <input type="text" placeholder="Enter your name" #playerNameInput />
    <button (click)="sendLoginRequest(playerNameInput.value)">Send Request</button>

    <p *ngIf="responseMessage">{{ responseMessage | json }}</p>
  </ng-container>
  
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
  
  <ng-template #error let-error>
    <p>Error: {{ error }}</p>
  </ng-template>
  
  
  
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
