<div class="element-header add-border">
  <h1 style="height: 3.1rem">Quizza</h1>
  <div
    class="element-view add-border-bottom"
    style="display: flex; width: 100%"
  >
    <div *ngIf="this.gameStateService.player" style="float: left">
      {{ this.gameStateService.player.name }}
      <button (click)="logOut()" class="add-border">LEAVE</button>
    </div>
    <button
      (click)="this.soundManagerService.toggleSound()"
      class="add-border"
      style="margin-left: auto; float: right"
    >
      Sound {{ this.soundManagerService.soundActive ? "ON" : "OFF" }}
    </button>
  </div>
</div>

<ng-container
  *ngIf="
    this.gameStateService.gameId && !this.gameStateService.player;
    else preGameLobby
  "
>
  <div class="element-view add-border column-layout">
    <h2>What's your name?</h2>
    <input
      #playerNameInput
      class="add-border"
      placeholder="Give yourself a cool name."
      type="text"
      value="{{ randomName }}"
    />
    <button
      (click)="sendLoginRequest(playerNameInput.value)"
      class="add-border center"


    >
      Join Lobby
    </button>
  </div>
</ng-container>

<ng-template #preGameLobby>
  <div
    *ngIf="!this.gameStateService.gameId"
    class="element-view add-border column-layout"
  >
    <h2>Create new Lobby</h2>
    <div>GameId:</div>
    <input
      #roomNameInput
      class="add-border gradient-border"
      type="text"
      value="{{ randomGameId }}"
    />

    <div>Max Rounds:</div>
    <input
      #maxRoundCountInput
      class="add-border"
      placeholder="Enter Round Count"
      type="text"
      value="3"
    />
    <div>Round Time:</div>
    <input
      #maxRoundTimeInput
      class="add-border"
      placeholder="Enter Round Time"
      type="text"
      value="20"
    />
    <div>Quick Rounds:</div>
    <input #quickRoundActive placeholder="Enter Round Time" type="checkbox"/>

    <button
      (click)="
        openNewLobby(
          roomNameInput.value,
          maxRoundCountInput.value,
          maxRoundTimeInput.value,
          quickRoundActive.checked
        )
      "
      class="add-border center"
    >
      Start Game
    </button>
  </div>
</ng-template>

<div *ngIf="this.gameStateService.player" class="element-view add-border">
  <ng-container *ngIf="getGameState$ | async as gamestate">
    <ng-container *ngIf="gamestate.gameStatus === GameStatus.PRE_GAME">
      <app-pre-game-lobby/>
    </ng-container>

    <div
      *ngIf="
        gamestate.currentQuestion?.id &&
        gamestate.gameStatus === GameStatus.IN_PROGRESS
      "
    >
      <app-main-game-lobby></app-main-game-lobby>
    </div>

    <ng-container *ngIf="gamestate.gameStatus === GameStatus.FINISHED">
      <app-after-game-lobby></app-after-game-lobby>
    </ng-container>
  </ng-container>
</div>
