<div class="column-layout">
  <h2>Are you ready?</h2>
  <ng-container *ngIf="this.gameStateService.gameState$ | async as gameState">
    <div style="padding: 2rem;" class="center">
      <button class="vote-button base-selected add-border" [class.selected-answer]="voteStart === true" (click)="vote(true)">Yes</button>
      <button class="vote-button base-selected add-border" [class.selected-answer]="voteStart === false" (click)="vote(false)">No</button>
    </div>
    Players:
    <ng-container class="icon-thing" style="width: 100%"
      *ngFor="let playerName of gameState?.preGameState?.playerNames">
      <div>- {{ playerName }}</div>
    </ng-container>

    <ng-container>Player Votes to Start:
      {{ gameState.preGameState?.howManyHaveVoted}}
    </ng-container>
  </ng-container>


  <button class="add-border center" (click)="shareLink()">Copy Game Invite Link</button>

  <app-web-socket-element></app-web-socket-element>
</div>
