.active-button {
  background: linear-gradient(
    300deg,
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-3)
  );
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.vote-button {
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  margin: 0 0.5rem 0 0;
  border-radius: 8rem
}
