.panel {
  border-radius: 1rem;
  background-color: var(--color-muted);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.debug {
  overflow: auto;
}

.game {
  width: 375px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  text-align: center;
  font-size: 1.2rem;
  flex-shrink: 0;
}

.answers {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stats {
  height: 100%;
  max-width: 375px;
}

