/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-weight: bold;
  color: var(--color-accent);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

:root {
  --color-primary: #0d1117;
  --color-accent: rgb(253, 255, 232);
  --color-text-inverted: var(--color-muted-faded);
  --color-text: rgb(251, 255, 213);
  --color-muted: #161b22;
  --color-muted-faded: #4b4c4c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  width: 24rem;
  max-width: 24rem;
}

h1 {
  font-size: 2rem;
  top: -1rem;
  border-radius: 1rem 1rem 0rem 0rem;
  text-align: center;
  background-color: var(--color-muted-faded);
  color: var(--color-text);
}



.add-border-top {
  border-radius: 1rem 1rem 0rem 0rem;
}

.add-border-bottom {
  border-radius: 0rem 0rem 1rem 1rem;
}

.add-border {
  border-radius: 1rem 1rem 1rem 1rem;
}

.element-header {
  text-align: center;
  color: var(--color-muted);
  background-color: var(--color-accent);
  margin-bottom: 1rem;
  width: 100%;
  padding: 0rem;
}

.gradient-background {
  background: linear-gradient(300deg, deepskyblue, darkviolet, blue);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.game-box {
  border-radius: 1rem;
  background-color: var(--color-accent);
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: inset 4rem 4rem 8rem rgba(255, 0, 0, 0.01), inset -1rem -4rem 8rem rgb(115, 0, 255, 0.2);
}

.element-view {
  background-color: var(--color-accent);
  padding: 1rem;
  flex-grow: 1; /* Allow elements to stretch vertically */
  /* margin: 1rem; */
  overflow: hidden;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  color: var(--color-text-inverted);
}

.element-view h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--color-text-inverted);
}

li {
  height: 1rem;
  width: 100%;
  margin: 0.5rem;
}

.icon-thing {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
