.last-item-bottom-right {
  margin-top: auto;
  text-align: right;
}

.question-container {
  overflow-y: scroll;
  max-height: 45vh;
  padding: 1.5rem;
}

.base-selected {
  background-color: var(--color-accent);
  box-shadow: 1px -1px 42px 4px rgba(0,0,0,0.75);
  color: var(--color-text-inverted);
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;
  height: 4rem;
  text-align: center;
  transition:
    background-color 300ms ease-in-out,
    box-shadow 300ms ease-in-out,
    color 300ms ease-in-out;
}

@keyframes glow-animation {
  0% {
    box-shadow:
      0 0 10px rgba(154, 219, 255, 0.71),
      0 0 20px rgba(154, 219, 255, 0.71),
      0 0 30px rgba(154, 219, 255, 0.71);
  }
  50% {
    box-shadow:
      0 0 30px rgba(209, 115, 255, 0.68),
      0 0 20px rgba(209, 115, 255, 0.68),
      0 0 10px rgba(209, 115, 255, 0.68);
  }
  75% {
    box-shadow:
      0 0 10px rgba(251, 250, 171, 0.95),
      0 0 20px rgba(251, 250, 171, 0.95),
      0 0 30px rgba(251, 250, 171, 0.95);
  }
  0% {
    box-shadow:
      0 0 10px rgba(154, 219, 255, 0.71),
      0 0 20px rgba(154, 219, 255, 0.71),
      0 0 30px rgba(154, 219, 255, 0.71);
  }
}

.selected-answer {
  /*background: linear-gradient(300deg, rgba(154, 219, 255, 0.71), rgba(209, 115, 255, 0.68), rgba(251, 250, 171, 0.95));*/
  background-color: var(--color-text-inverted);
  color: var(--color-accent);
  animation: glow-animation 5s infinite ease-in-out;
}

@keyframes gradient-animation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
