<ng-container *ngIf="this.gameStateService.gameState$ | async as gamestate">
  <div
    [@questionChange]="gamestate.currentQuestion?.question"
    class="column-layout"
  >
    <div class="center">
      <div class="counter gradient-background">
        <div
          (@numberChange.start)="onCounterChange()"
          [@numberChange]="gamestate?.currentQuestionTimer"
        >
          {{ gamestate?.currentQuestionTimer }}
        </div>
      </div>
    </div>

    <h3 class="center">{{ gamestate?.currentQuestion?.question }}</h3>
    <div class="question-container">
      <div
        class="center"
        *ngFor="
        let answer of gamestate.currentQuestion?.answers;
        trackBy: trackById
      "
      >
        <button
          [class.selected-answer]="currentAnswerId === answer.answerId"
          class="base-selected add-border"
          (click)="onAnswerChange(answer.answerId)"
        >
          {{ answer.answerText }}
        </button>
      </div>
    </div>

    <div class="last-item-bottom-right">
      {{ gamestate?.currentRound }}/ {{ gamestate?.maxRounds }}
    </div>
  </div>
</ng-container>
