<ng-container *ngIf="this.gameStateService.gameState$ | async as gamestate">
  <app-answered-player-indicators></app-answered-player-indicators>

  <div
    [@questionChange]="gamestate.currentQuestion?.id"
    class="column-layout"
  >
    <div class="center">
      <div class="counter gradient-background">
        <div
          (@numberChange.start)="onCounterChange()"
          [@numberChange]="gamestate?.currentQuestionTimer"
        >
          {{ this.getTimerOrInfinitSymbol(gamestate?.currentQuestionTimer) }}
        </div>
      </div>
    </div>

    <ng-container *ngIf="gamestate?.currentQuestion as question">
      <!--      {{ getDate() }}-->
      <h3 class="center"> -- {{ CategoryEnum[question.category] }} --</h3>

      <h3 class="center">{{ question.details.questionText }}</h3>
      <app-question-element [question]="question"></app-question-element>
    </ng-container>

    <div class="last-item-bottom-right">
      {{ gamestate?.currentRound }}/{{ gamestate?.maxRounds }}
    </div>
  </div>
</ng-container>
